// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins

/**/

// use
// @include flexbox;
@mixin flexbox {
    display: -webkit-box;   
    display: -ms-flexbox;
    display: flex;
}

//Using this mixin
// %flexbox { @include flexbox; }

/**/

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex 
}

//   %inline-flex { @include inline-flex; }

/**/

// use
// @include flex-direction(row);
// @include flex-direction(column);
@mixin flex-direction($value: row) {
    @if $value==row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;        
    }
    @else if $value==column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;       
    }
    @else if $value==column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;       
    }
    @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;      
    }
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

// Shorter version:
//   @mixin flex-dir($args...) { @include flex-direction($args...); }

/**/

@mixin flex-wrap($value: nowrap) {
    // No Webkit/FF Box fallback.
    -webkit-flex-wrap: $value;
    @if $value==nowrap {
        -ms-flex-wrap: none;
    }
    @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}


/**/

// Values: flex-start (default) | flex-end | center | space-between | space-around
// @include justify-content(space-between !important);
// @include justify-content(center);
@mixin justify-content($value: flex-start) {
    @if $value==flex-start {
        -webkit-box-pack: start;       
        -ms-flex-pack: start;
    }
    @else if $value==flex-end {
        -webkit-box-pack: end;      
        -ms-flex-pack: end;
    }
    @else if $value==space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    }
    @else if $value==space-around {
        -ms-flex-pack: distribute;
    }
    @else {
        -webkit-box-pack: $value;      
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    justify-content: $value;
}

// Shorter version:
// @mixin flex-just($args...) { @include justify-content($args...); }

/**/

// Flexbox align items
// Values: flex-start | flex-end | center | baseline | stretch (default)
// @include align-items(center);
@mixin align-items($value: stretch) {
    @if $value==flex-start {
        -webkit-box-align: start;        
        -ms-flex-align: start;
    }
    @else if $value==flex-end {
        -webkit-box-align: end;       
        -ms-flex-align: end;
    }
    @else {
        -webkit-box-align: $value;        
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    align-items: $value;
}


/**/