$white: #fefefe;
// $white: #f5f5f6;
$background: #f2f4f6;
// $black: #333333;
// $black: #1e1e1e;
$black: #242429;
// $black: #000000;
// $main-color: #243a5e;
$main-color:#19223f;
// $main-color: black;

/* rgb(25, 34, 63) */

$second-color: #334580;
$third-color: #0069d2;
// $third-color: #0062ad;
// $border: rgba(0, 0, 0, .125);
$border: #dedede;
// $light-gray: #f4f4f8;
$light-gray: #eee;
// $gray: #9b9b9b;
// $gray: #9ca1b3;
$gray: #909090;
$gray2: #c7c8cc;
$gray_bc: #dbdde8;

/*rgba( 219, 221, 232)*/

// $gray_bc: #cfcfe1;
// background: #f5f5f6;
// $gray-caption: #86889a;
// $gray-caption-dark: #585964;
// $gray-caption-light: #adaebb;
$gray-caption: #757575;
// $gray-caption: #6D758F;
$gray-caption-dark: #464646;
// $gray-caption-dark: #373a46;
$gray-caption-light: #909090;
// $gray-caption-light: #9ca1b3;