$black: #383838;
// $black: #000;
$main-color:#19223f;  /* rgb(25, 34, 63) */
// $main-color:  #334455;
$second-color: #334580;
$third-color: #0069d2;
$accent-color: #B38C24; 
$border: rgba(0,0,0,.125);
$light-color: #B3C4FF;
$light-color2: #f4f4f8;    
$light-gray: #fafafa;
$light-gray2: #f6f7f7;
$gray:   #9b9b9b;
$gray1: #e5e5e5;
$gray2: #c7c8cc;
$white: #fefefe;

$gray_bc: #dbdde8;