// $black: #1e1e1e;
// $dark-color: #16288C;
// $main-color: #335aa6;
// $second-color: #3365a6;
// $third-color: #4988bf;
// $accent-color: #04B2D9; 
// $accent2-color: #05DBF2;
// $border: rgba(0,0,0,.125);
// $light-color: #FDFDFD;
// $gray:   #Acb4c1;
// $gray1: #eeeeee;
// $gray2: #d9d9d9;
// $white: #fefefe;



// https://color.adobe.com/ru/mythemes




$black: #383838;
$dark-color:#19223f;/* ++ */
$main-color:#19223f;/* ++ */
$second-color: #334580;/* ++ */
$third-color: #0069d2;/* ++ */
$accent-color: #B38C24; /* ++ */
$border: rgba(0,0,0,.125);
$light-color: #FDFDFD;
$gray:   #9b9b9b;
$gray1: #e5e5e5;
$gray2: #d9d9d9;
$white: #fefefe;

