@import'libs/bootstrap-reboot.min';
@import'libs/bootstrap-grid.min';
@import'libs/bootstrap.min';
@import'libs/animate';
@import'libs/font';
@import'libs/slick';
@import 'base/variables';

.clear {
    clear: both;
  }
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;    
}
section {
    flex: 1 0 auto;
}
// .container {
    // border: solid 0.5px black; /* убрать пgit озже */
//     // background-color: #f2f2f2;
//     // background-color: $white;   
    // max-width: 1230px;
// }
.home-page-block {
    padding-top: 30px; 
    padding-bottom: 30px;    
}
h1 {
    font-size: 40px;
    color: $main-color;
}
h2 {
    font-size: 36px;
    // margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;   
    color: $main-color;
    font-weight: 600;
    a {
        color: $main-color;
        &:hover {
            color: $main-color;
        }
    }
}
h4 {
    color: $main-color; 
}
h5, h3 {
    text-align: center;
    color: $main-color; 
}
h6 {
    text-align: center;
}
h3 {
    font-size: 25px;
    margin-top: 12px;  
    margin-bottom: 25px; 
}
h5 {
    font-size: 18px;
}
ul {
    list-style-type: none; 
}
.italic {
    font-style: italic;
}
img {
    vertical-align: middle;
    border-style: none;
}
.indent-bottom {
    margin-bottom: 30px;
}
.indent-top {
    margin-top: 40px;
}
.fat {
    font-weight: 700;
    margin-right: 5px;
    display: inline;
}
.padding-block {
    // padding: 0 155px;
    // background-color: $white;
    width: 66.66%;
    // margin: 0 auto;
    // border: 1px solid red;
}       
::-webkit-scrollbar {
    background: #f3eaea;
    width: 8px;
}
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 10px rgba(12, 12, 12, 0.4);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    // background: linear-gradient(125deg, $third-color, $second-color);
    border-radius: 12px;
    background: $gray;
}

nav .menu__block a.menu__item_active{
    color: $third-color;
}
nav .menu__block li.current-menu-parent>a{
    color: $third-color;
}

.pagination {
    background-color: $white;
    display: block;
    margin: 40px;
    text-align: center;
}
.page-numbers {
    padding: 1% 2%;
    box-shadow: 0 0 10px #ccc;
    margin: 0 1% 0 0;
    background: #fff;
    border-radius: 3px;
}

.grecaptcha-badge { 
    visibility: hidden; 
}




@import 'blocks/header';
@import 'blocks/icons';
@import 'blocks/menu';
@import 'blocks/submenu';
@import 'blocks/news_card';
@import 'blocks/button';
@import 'blocks/logos';
@import 'blocks/advts';
@import 'blocks/tournaments';
@import 'blocks/project';
@import 'blocks/sponsors';
@import'blocks/photo';
@import 'blocks/footer';
@import'blocks/pageup';
@import'blocks/media';
@import 'blocks/tab';
@import 'blocks/calendar';
@import'blocks/sidebar';
@import'blocks/news-advts-all';
@import'blocks/team';
@import'blocks/tourn_page';
@import'blocks/kshk';
@import'blocks/academy';
@import'blocks/champ';
@import'blocks/rating';
@import'blocks/schools';
@import'blocks/federation';
@import'blocks/table';
@import'blocks/tabs-page';
@import'blocks/carousel';
@import'blocks/tags';
@import'blocks/feedback';
@import'blocks/registration-tourn';






