@import'libs/bootstrap-reboot.min';
@import'libs/bootstrap-grid.min';
@import'libs/bootstrap.min';
@import'libs/animate';
@import'libs/font';
@import'libs/slick';
@import 'base/variables';

.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $black;
    font-size: 16px;
    line-height: 1.5;
    // line-height: 1.75;

    @media (max-width: 767px) {
        font-size: 14px;
    }
}


section {
    flex: 1 0 auto;
}

// .container {
// border: solid 0.5px black; /* убрать пgit озже */
//     // background-color: #f2f2f2;
//     // background-color: $white;   
// max-width: 1200px;
// }

.home-page-block {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 25px;
    }
}

h1 {
    font-size: 35px;
    color: $black;
}

h2 {
    font-size: 2.0em;
    // margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5em;
    color: $main-color;
    font-weight: 600;

    @media (max-width: 575px) {

        margin-bottom: 1em;
        font-weight: 500;
    }

    a {
        color: $main-color;

        &:hover {
            color: $main-color;
        }
    }
}



// p a {
// a {    
//     color: $second-color;    
//     text-decoration: underline;
//     &:hover {       
//         color: $third-color;
//     }   
// }

// img.alignleft,
// .alignleft img,
// img.aligncenter,
// .aligncenter img,
// img.alignright,
// .alignright img,
// img.alignnone,
// .alignnone img {
// margin: auto;
// }

.alignright {
    float: right;
    margin-left: 15px;
    margin: 15px 0 15px 15px;
    max-width: 100%;
    height: auto;
}

.alignleft {
    float: left;
    // margin-right: 15px;
    margin: 15px 15px 15px 0;
    max-width: 100%;
    height: auto;
}

.aligncenter {
    // display: block;
    display: flex;
    justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
    margin: 15px auto;
    // max-width: 100%;

    width: 450px;
    height: auto;

    @media (max-width: 575px) {
        // width: 45%;
        height: 35vh;
        max-width: 100%;
        // width: 100%;
        object-fit: cover;
        object-position: center;
    }

}

.mtli_png,
.mtli_jpg {
    background-image: none !important;
    margin: 15px auto;
}

.mtli_attachment {
    // padding-left: 0!important;
    display: block !important;
}

.ya-share2 ul {
    padding-left: 0 !important;
}



blockquote {
    border-left: 5px solid $third-color;    
    background: #eee;
    // background: #f5f5f6;
    padding: 20px 20px;    

    p {      
        margin: 0;
        // font-style: italic;
    }
}

h4 {
    color: $main-color;
}

h5,
h3 {
    text-align: center;
    color: $main-color;
}

h6 {
    text-align: center;
}

h3 {
    font-size: 1.5625em;
    margin-top: 12px;
    margin-bottom: 1.5em;
}

h5 {
    font-size: 1.125em;
}

ul {
    list-style-type: none;
}

.italic {
    font-style: italic;
}

img {
    vertical-align: middle;
    border-style: none;
}

.indent-bottom {
    margin-bottom: 1.875em;

    // @media (max-width: 575px) {
    //     margin-top: 15px;
    //     ;
    // }
}

.indent-top {
    margin-top: 20px;

    // @media (max-width: 1199px) {
    //     margin-top: 20px;
    // }

    @media (max-width: 991px) {
        margin-top: 15px;
    }

    @media (max-width: 767px) {
        margin-top: 10px;
    }

    @media (max-width: 575px) {
        margin-top: 5px;
    }

    @media (max-width: 376px) {
        margin-top: 0px;
    }

}

.fat {
    font-weight: 700;
    margin-right: 5px;
    display: inline;
}

.padding-block {
    width: 66.66%;
}

::-webkit-scrollbar {
    // background: #f3eaea;
    width: 8px;
}

::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 10px rgba(12, 12, 12, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    // background: linear-gradient(125deg, $third-color, $second-color);
    border-radius: 12px;
    background: $gray;
}

// nav .menu__block a.menu__item_active {
//     color: $third-color;
// }

// nav .menu__block li.current-menu-parent>a {
//     color: $third-color;
//     // background-color: $third-color;
//     // margin-top: -10px;
//     // margin-bottom: -10px;
// }

// .current-page-ancestor>a {
//     color: $third-color !important;
// }

// .current-menu-item a {
//     color: $third-color !important;

//     @media (max-width: 991px) {
//         border-bottom: 3px solid $third-color;
//     }
// }

.activelink2 {
    color: #0069d2 !important;

    @media (max-width: 991px) {
        border-bottom: 3px solid $third-color;
    }

    svg #cart {
        fill: #0069d2 !important;
    }
}

.pagination {
    background-color: $white;
    display: block;
    margin: 40px;
    text-align: center;
}

.page-numbers {
    padding: 1% 2%;
    box-shadow: 0 0 10px #ccc;
    margin: 0 1% 0 0;
    background: #fff;
    border-radius: 3px;
}

.grecaptcha-badge {
    visibility: hidden;
}

//arrow back
.arrow-back {
    display: block;
    margin: 20px 0;

    @media (max-width: 575px) {
        margin: 10px 0;

    }

    a {
        color: $second-color;

        &:hover {
            text-decoration: none;
            color: $third-color;
            // font-weight: 500;
        }
    }

}

iframe {
    width: 100%;
}




@import 'blocks/header';
@import 'blocks/icons';
@import 'blocks/menu';
@import 'blocks/submenu';
@import 'blocks/news_card';
@import 'blocks/button';
@import 'blocks/logos';
@import 'blocks/advts';
@import 'blocks/tournaments';
@import 'blocks/project';
@import 'blocks/sponsors';
@import 'blocks/footer';
@import'blocks/pageup';
@import'blocks/media';
@import 'blocks/tab';
@import 'blocks/calendar';
@import'blocks/structure';
@import'blocks/news-advts-all';
@import'blocks/advts-page';
@import'blocks/team';
@import'blocks/tourn_page';
@import'blocks/kshk';
@import'blocks/academy';
@import'blocks/champ';
@import'blocks/rating';
@import'blocks/schools';
@import'blocks/federation';
@import'blocks/table-fshak';
@import'blocks/tabs-page';
@import'blocks/carousel';
@import'blocks/tags';
// @import'blocks/feedback';
@import'blocks/registration-tourn';
@import'blocks/modal';
@import'blocks/shop-product';
@import'blocks/shop-products';
@import'blocks/cart';
@import'blocks/select-form';
@import'blocks/account';
@import'blocks/checkout';
@import'blocks/goods';
@import'blocks/woocommerce';
@import'blocks/login';
@import'blocks/single';
@import'blocks/sidebar';
@import'blocks/page-block';
@import'blocks/wp';