.page-block {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    p {
        // font-size: 14px;
        text-align: justify;
        // margin-bottom: 0.5rem;
        margin-bottom: 20px;
        line-height: 21px;
    }
    &__content {
        width: 100%;
        display: block;
    }
    &__box {
        width: 100%;
        display: flex;
        margin: 35px 0;
        @media (max-width: 991px) {
            margin: 25px 0;
        }
        @media (max-width: 767px) {
            margin: 10px 0;
        }
        @media (max-width: 575px) {
            margin: 5px 0;
        }
        @media (max-width: 376px) {
            margin: 0;
        }
    }
    &__box-single {
        width: 100%;
        display: flex;
        margin: 0 0;
        // color: $black;
        justify-content: space-between; //020221 - присмотреться, может быть надо удалить
    }
    &__left {
        display: flex;
        flex-direction: column;
        width: calc(75% - 45px);
        margin-right: 45px;
        @media (max-width: 991px) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__left-single {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // float: left;
        margin: 0 auto;
        width: 660px;
        // box-shadow: 0 0.125rem 0.75rem 0 rgba(17,17,17,.5);        
        // padding-left: 10px;
        // padding-right: 10px;
        &_advts {
            width: 66.66667%;
        }
        &_tourn {
            margin: 0 50px 0 30px;
            @media (max-width: 991px) {
                margin: 0 30px!important;
            }
            @media (max-width: 767px) {
                margin: 0 15px!important;
            }
            @media (max-width: 575px) {
                margin: 0px!important;
            }
        }
        @media (max-width: 1199px) {
            margin-left: 45px;
            margin-right: 45px;
            width: calc(75% - 90px);
        }
        @media (max-width: 991px) {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
        ul {
            display: block;
            list-style-type: disc;
            // margin-block-start: 1em;
            // margin-block-end: 1em;
            // margin-inline-start: 0px;
            // margin-inline-end: 0px;
            // padding-inline-start: 40px;
            padding-left: 40px;
        }
        ol {
            display: block;
            // margin-block-start: 1em;
            // margin-block-end: 1em;
            // margin-inline-start: 0px;
            // margin-inline-end: 0px;
            // padding-inline-start: 40px;
            padding-left: 40px;
        }
        // p a {
        //     color: $third-color;
        //     &:hover {
        //         text-decoration: underline;
        //     }
        // }
        h1 {
            font-size: 28px;
            // font-weight: 500;
            letter-spacing: .8px;
            // margin-top: 10px;
            font-family: "NotoSans", Arial, sans-serif;
            margin-bottom: 10px;
            // color: $main-color;
            @media (max-width: 767px) {
                font-size: 26px;
            }
            @media (max-width: 575px) {
                font-size: 24px;
            }
            @media (max-width: 376px) {
                font-size: 22px;
            }
        }
        h2 {
            font-size: 1.5em;
            margin: 15px 0;
            text-align: left;
            // color: $black;
            color: $second-color;
        }
        h3 {
            font-size: 1.3em;
            text-align: left;
            margin: 12px 0;
            color: $black;
        }
        h4 {
            font-size: 1.1em;
            margin: 10px 0;
            color: $black;
        }
    }
    .content {
        margin-top: 20px;
        // margin-bottom: 15px;
        // line-height: 1.5em;
        line-height: 20px;
    }
}

.content {
    a {
        color: $black;
        // color: $second-color;
        // text-decoration: underline;
        text-decoration: none;
        // background-image: linear-gradient(rgba(4, 85, 119, .13), rgba(4, 85, 119, .13));
        background-image: linear-gradient(rgb(0, 105, 210), rgb(0, 105, 210));
        background-repeat: repeat-x;
        background-size: 100% 1px;
        background-position: 0 100%;
        padding-bottom: 2px;
        //     // display: block;   
        //     // text-decoration: none;
        &:hover {
            color: rgb(0, 105, 210);
            // background-image: linear-gradient(rgba(0, 105, 210, .7), rgba(0, 105, 210, .7));
            //         text-decoration: underline !important;
        }
    }
}