/* стили для страницы Партнеры */
.partner {
    width: 100%;
    &__box {        
        width: 100%;        
        @include flexbox;   
        @include flex-direction(column);  
        @include flex-wrap(wrap);   
        padding: 15px;               
    }
    &__block{
        width: 100%;
        @include flexbox;   
        @include flex-direction(column);
        @include flex-wrap(wrap);
        align-items: center;
        margin: 35px 0;      
        img {
            width: 150px;
            height: auto;
            margin-bottom: 15px;
            object-fit: contain;            
        }
    }
    &__descr {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $black;
        &:hover {
            color: $third-color;
        }       
    }
    
}
