.plan {
   // padding-right: 15px;
    //padding-left: 15px;
    width: 100%;
    line-height: 1.2em;
    // color: $black;

    @media (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
    }  

    table {
        th {            
            &:first-child {
                border-radius: 0px 0px 0px 0px;
                @media (max-width: 575px) {
                    border-radius: 5px 0px 0px 0px;
                    padding-left: 10px;
                }
            }

            &:last-child {
                border-radius: 0px 5px 0px 0px;
            }

            &:nth-child(3) {

                @media (max-width: 767px) {
                    display: none;
                }

            }

            &:nth-child(6) {

                @media (max-width: 767px) {
                    display: none;
                }

            }
        }

        
        td {
            vertical-align: middle !important;

            &:first-child {
                text-align: center;
                width: 5%;      
                padding: 0 15px;

                @media (max-width: 575px) {
                    padding: 0 10px;
                }

                @media (max-width: 376px) {
                    padding: 0 2px;
                }
            }

            &:nth-child(2) {
               // width: 34%;
                width: auto;
                text-align: left;
                padding: 7px 7px;
                a {
                    text-decoration: underline;
                    // color: $main-color;

                    &:hover {
                        color: #fff;
                    }
                }

                @media (max-width: 767px) {
                    width: auto;
                }

                @media (max-width: 575px) {
                    padding: 5px 5px;
                }
            }

            &:nth-child(3) {
                width: 15%;
                padding: 7px 7px;

                @media (max-width: 767px) {
                    display: none;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                width: 15%;
                text-align: center;

                 padding: 7px 7px;
                @media (max-width: 575px) {
                    padding: 0 5px;
                }
            }

            &:nth-child(6) {
                width: 15%;
               // text-align: center;

                 padding: 7px 7px;
                @media (max-width: 767px) {
                    display: none;
                }
            }           
        }

    }

    &__content {
        display: none;
        //width: 100%;

        &_active {
            display: block;
        }
    }

}
