.schools {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.2em;

    @media (max-width: 575px) {
        padding-right: 0;
        padding-left: 0;
    }

    table {
        th {                
            &:first-child {
                border-radius: 5px 0px 0px 0px;
            }

            &:nth-child(3) {
                @media (max-width: 376px) {
                    border-radius: 0px 5px 0px 0px;
                }
            }

            &:nth-child(4) {
                @media (max-width: 575px) {
                    border-radius: 0px 5px 0px 0px;
                }

                @media (max-width: 376px) {
                    display: none;
                }
            }

            &:last-child {
                border-radius: 0px 5px 0px 0px;
                @media (max-width: 575px) {
                    display: none;
                }
            }
        }

        tr {          
            margin: 10px 0;
            &:hover {
                td a {
                    color: #fff;
                }
            }
        }

        td {
            padding: 7px 15px;

            @media (max-width: 991px) {
                padding: 7px 10px;
            }

            @media (max-width: 767px) {
                padding: 7px 5px;
            }

            @media (max-width: 575px) {
                padding: 7px 3px;
            }

            &:first-child {
                font-weight: 700;
                width: 15%;
                padding-left: 15px;
                @media (max-width: 575px)  {
                    padding-left: 8px;; 
                }
                @media (max-width: 376px) {
                    width: auto;
                }
            }

            &:nth-child(2) {
                width: 25%;
                a {
                    text-decoration: underline;
                    color: $main-color;
                    &:hover {
                        color: #fff;
                    }
                }
                @media (max-width: 376px) {
                    width: auto;
                }
            }

            &:nth-child(3) {
                width: 20%;
                @media (max-width: 376px) {
                    width: auto;
                    padding-right: 15px;
                }
            }

            &:nth-child(4) {
                width: 15%;
                @media (max-width: 575px) {
                    padding-right: 15px;
                }

                @media (max-width: 376px) {
                    display: none;
                }
            }

            &:nth-child(5) {
                padding-right: 15px;
                width: 25%;
                @media (max-width: 575px) {
                    display: none;
                    padding-right: 8px;
                }
            }
        }

    }

}