// .advt {
//     display: flex;
//     justify-content: space-between;
//     background-color: $gray1;
//     font-size: 16px;

// }
.advt {
    &__block {
        background-color:  rgba(179, 196, 255, 0.2);;
        padding-top: 15px;
        padding-bottom: 15px;
        // min-height: 80px;
        
    }   
    &__title {
        color: $black;
        &:hover {
            color:$black;
        }
    }
    &__item {
        font-size: 16px;
        border-right: solid 1px $border;
        &:last-child {
            border-right: none;
        }
    }
    &__data {
        color: $gray;
    }
    &__descr {
        margin-top: 10px;
        display: block;
        color: $black;
        &:hover {
            color: $accent-color;
        }
    }
}