.checkout-chess {
    h2,
    h3 {
        text-align-last: left;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        // border: 1px solid red;
        background: #f4f4f8;
        border: 0.5px solid $border;  
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);   
        padding: 10px 10px;
    }

    &__block {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
       
        input {
            width: 100%;
            padding: 3px 0;
            border: 0;
            border-bottom: 1px solid gray;
            color: #333;
            -webkit-transition: .3s;
            transition: .3s;
        }
        .tittle-dostavka {
            margin-top: 30px;
        }
        .woocommerce-billing-fields {
            width: 100%;
        }
        .woocommerce-shipping-fields {
            .woocommerce-form__input-checkbox {
                display: none;
            }
        }
        .woocommerce-billing-fields__field-wrapper,  
        .woocommerce-shipping-fields__field-wrapper,
        .woocommerce-additional-fields__field-wrapper {
            // padding: 0 10px;
            label {
                display: none;
                // font-size: 12px;
                // color: gray;
                // margin-left: 15px;
            }
            span {
                padding: 0 10px;
                input {
                    padding-left: 10px;
                }
            }
        }   
        .woocommerce-additional-fields__field-wrapper {
            padding: 10px 0;
            textarea {
                padding: 5px 10px;
            }
        }   
        .woocommerce-checkout-review-order {
            width: 100%;
        }
        p {
            span {
                display: block;
                width: 100%;
            }
        }
    }
    &__order {
        padding: 0 ;
        margin: 12px 0;
        background-color: #f4f4f8;
        border: 0.5px solid $border;
        // background-color: red;
        h3 {
            border: 1px solid transparent;
            padding: 10px 10px ;
            margin-top: 0;
        }
        table {
            margin: 10px 10px;
        }

    }
    
    table {
        width: 100%;
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            input {
                width: 20px;
                margin-right: 5px;
                margin-left: 10px;
               
            }
            label {
                margin-bottom: 0;
            }
        }
        a {
            color: $third-color;
        }
    }
    .pilot_cafe_custom_show_shipping {
        margin: 30px 0;
        th {
            display: none;
        } 
    }

    // .pilot_cafe_custom_show_shipping {
    //     table {
    //         width: 100%;
    //     }

    //     tr {
    //         width: 100%;
    //     }

    // }
}

.woocommerce-checkout-review-order {
    border: 1px solid $border;
    padding: 15px 15px;
}

.woocommerce-checkout {
    margin: 35px 0;
}

// .woocommerce-shipping-methods {
//     display: flex;
//     // li {
//     //     display: flex;
//     // }
// }
.woocommerce-additional-fields__field-wrapper {

    label,
    textarea {
        width: 100%;
    }

    textarea {
        border: 1px solid gray;
    }

}

// table.pilot_cafe_custom_show_shipping th { display: none; }