.top-header {
    // padding: 5px 0;
    flex: 0 0 auto;

    @media (max-width: 767px) {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);
    }

    .row {
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 575px) {
            // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__block {
        padding-right: 15px;
        padding-left: 15px;

        @media (max-width: 991px) {
            align-items: center !important;
        }

        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            padding-right: 15px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__headline {
        display: flex;

        @media (max-width: 991px) {
            align-items: center;
        }

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    &__logo {
        img {
            display: block;
            height: 80px;
            max-width: 100px;

            @media (max-width: 767px) {
                height: 60px;
                width: auto;
            }

            @media (max-width: 575px) {
                height: 40px;
                width: 35px !important;
            }

        }
    }

    &__title {
        letter-spacing: 1.5px;
        margin-left: 55px;
        line-height: 0.5;

        @media (max-width: 991px) {
            letter-spacing: normal;
            line-height: 0.5;
            margin-left: 15px;
        }

        @media (max-width: 767px) {
            margin-left: 10px;
        }

        @media (max-width: 320px) {
            display: none;
        }

        h1 {
            margin-right: -2px;
            color: #000000;

            @media (max-width: 1199px) {
                font-size: 30px;
            }

            @media (max-width: 991px) {
                font-size: 25px;
            }

            @media (max-width: 767px) {
                font-size: 21px;
            }

            @media (max-width: 575px) {
                font-size: 23px;
            }

            @media (max-width: 513px) {
                font-size: 21px;
            }

            @media (max-width: 479px) {
                font-size: 19px;
            }

            @media (max-width: 444px) {
                font-size: 18px;
            }

            @media (max-width: 425px) {
                font-size: 17px;
            }

            @media (max-width: 410px) {
                font-size: 16px;
            }

            @media (max-width: 385px) {
                font-size: 15px;
            }

            @media (max-width: 370px) {
                font-size: 14px;
            }

            @media (max-width: 350px) {
                font-size: 12px;
            }
        }

        span {
            width: 100%;
            display: block;
            text-align: right;
            letter-spacing: 1.0px;
            // color: $gray;

            @media (max-width: 991px) {
                font-size: 12px;
                letter-spacing: normal;
            }

            @media (max-width: 376px) {
                font-size: 10px;
                text-align: left;
            }

        }
    }



    // img:not(:hover) {
    //     // filter: saturate(0%);
    //     // filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    //     // -webkit-filter: saturate(0%);
    //     filter:  contrast(.2);
    // }      
    // img:hover {
    //     transition: 1.0s;
    // }



}



// background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5))/* , url('../../img/blue_chess.jpg') */; 
// background-size: cover;
// background-image: linear-gradient(white, $third-color);