.social {
    display: flex;      
    justify-content: space-between; 
    // align-items: center; 
    margin: 15px 0;
    // border: solid 2px red;
    &_academy {
        justify-content: center;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 2px solid $main-color;
        width: 30px;
        height: 30px;
        margin-left: 25px;
        // transition: all 0.5s;
        &:first-child {
            margin-left: 0;
        }
        // &:hover {
        //     border: 2px solid $gray;
        // }
        img {
            height: 17px;
            display: block;
        }
    }
    &__footer {
        justify-content: center;
        a {
            background-color: $gray2;
        }
    }
    // фильтр на иконки
    // &__icon:not(:hover) {
    //     filter:  contrast(.5);
    // }
    // &__icon:hover {
    //     transition: .5s;
    // }
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid $main-color;
    width: 45px;
    height: 45px;
    margin-right: 20px; 
    &_indent {
        margin: 0 25px;
        &:first-child {
            margin-left: 0;
        }
        // &:last-child {
        //     margin-right: 0;
        // }
    }
    // background-color: $gray;
    img {
        height: 20px;
        display: block;
    }
}



