.kshk {
    // span {
    //     line-height: 1.7; 
    //     display: block;
    // }
    // color: $main-color;
    
    &__branch {
        width: 100%;
        // border: 1px solid red;
        font-size: 16px;
        th {
            text-align: center;
            padding-bottom: 15px;
            font-size: 18px;
        }
        td {
            padding: 15px 15px;
        }
        tr {
            border-bottom: 0.5px solid $gray;
            &:last-child {
                border-bottom: none;
            }
            &:hover:not(:first-child) {
                background-color: #868cad;
                cursor: pointer;
                color: #fff;            
            }
        }
    }
    &__time {
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        color: $main-color;
        // border: 1px solid red;       
        th {
            text-align: center;
            padding-bottom: 15px;
            font-size: 18px;
        }
        td {
            padding: 10px 15px;
            width: 25%;
            &:not(:first-child) {
                text-align: center;
            }
            &:first-child {
                width: 15%;
            }
        }
        tr {
            border-bottom: 0.5px solid $gray;
            &:last-child {
                border-bottom: none;
            }
            // &:hover:not(:first-child) {
            //     background-color: #868cad;
            //     // cursor: pointer;
            //     color: #fff;            
            // }
            &:nth-child(2) {
                font-weight: 700;
                text-align: center;
            }
        }
    }
    &__text {
        margin: 10px 0;
    }

    &__list {
        counter-reset: item;       
        padding-left: 40px;
        margin-top: 1em;
        margin-bottom: 1em;         
        font-weight: 700;
        &_2 {
            font-weight: 400;
        }
        
    }
    &__item {
        display: block;  
        &:before { 
            content: counters(item, ".") ". "; 
            counter-increment: item;  
        }
       
    }
}

