.logos {
    // background-color: $white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 112px;
    padding-top: 25px;  
    @media (max-width: 575px) {
        padding-top: 10px;  
    }
    // @media (max-width: 376px) {
    //     padding-top: 0;  
    // }
    &__item {
        width: 135px;        
        text-align: center;
        @media (max-width: 575px) {
            width: 80px;
            margin-bottom: 5px;
        }
    }
    &__scale {
        display: inline-block; /* Строчно-блочный элемент */
        overflow: hidden; /* Скрываем всё за контуром */  
        // border: 1px solid $border;    
        // border-radius: 10px 10px 10px 10px; 
    }
    &__scale img {
        width: 63px;
        height: 63px;
        border-radius: 100%;
        display: block;
        margin: 0 auto;        
        object-fit: cover;              
        transition: opacity 0.35s ease 0s;
        @media (max-width: 575px) {
            width: 40px;
            height: 40px;
        }
        &:hover {
            transform: scale(1.1);/* Увеличиваем масштаб */
        }
    }       
    &__title {
        margin-top: 7px;
        font-size: 12px;
        text-align: center;   
        margin-bottom: 5px; 
        line-height: 1.2;   
        @media (max-width: 575px) {
            font-size: 8px;
        }    
    }
    &__link {
        cursor: pointer;
        color: $second-color;
        &:hover {
            text-decoration: none;
            color: $third-color;
        }
    }
}