.logo-block {
    width: 100%;    
    @media (max-width: 575px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .container {
        @media (max-width: 767px) {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

.logos {
    // display: flex;
    @include flexbox;   
    // justify-content: space-between;
    @include justify-content(space-between);
    // flex-wrap: wrap;
    @include flex-wrap(wrap);
    min-height: 112px;   
    width: 100%; 
    @media (max-width: 991px) {
        overflow-x: scroll;
        overflow-y: hidden;
        // flex-wrap: nowrap;
        @include flex-wrap(nowrap);        
    } 
    @media (max-width: 575px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__item {
        min-width: 105px;
        max-width: 105px;
        text-align: center;      
        @media (max-width: 767px) {
            min-width: 100px;         
            padding: 0 2px;
        }
        @media (max-width: 575px) {
            min-width: 80px;
        }
    }
    &__scale {
        display: inline-block;
        overflow: hidden;
    }
    &__scale img {
        // width: 75px;
        height: 70px;
        width: auto;
        // border-radius: 100%;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.35s ease 0s;
        @media (max-width: 575px) {
            width: 40px;
            height: 40px;
        }
        &:hover {
            transform: scale(1.1);
            /* Увеличиваем масштаб */
        }
    }
    &__title {
        margin-top: 7px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 5px;
        line-height: 1.2;
        @media (max-width: 376px) {
            font-size: 10px;
        }
    }
    &__link {
        cursor: pointer;       
        color: $gray-caption;       
        &:hover {
            text-decoration: none;
            color: $gray-caption-dark;
            // color: $main-color;
        }
    }
}

.logos::-webkit-scrollbar {
    display: none;
}