@media screen and (max-width: 991px) {
    .container {
        max-width: 100%!important;
    }
}

@media (max-width: 991px) {
    .toplist {
        h5 {
            font-size: 16px;
        }
    }
    th.number {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .menu {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 0!important;
        // left: -100%;
        &__block {
            position: absolute;
            position: fixed;
            // overflow: hidden;
            flex-direction: column;
            justify-content: flex-start!important;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding: 35px 15px;
            margin: 0 auto;
            background-color: $main-color;
            transition: 0.7s all;
            z-index: 9999999;
            text-align: left;
            li {
                // padding: 3px 0!important;
                padding: 6px 0!important;
                margin: 0 !important;
                font-weight: 700;
                ul {
                    li {
                        padding: 2px 0!important;
                        font-weight: 400;
                    }
                }
            }
            &_active {
                left: 0;
            }
        }
        // &__item {
        // //     // padding-right: 0;
        // }
        // &__item {
        //     font-weight: 700;
        //     // color: $third-color!important;
        // }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 15px;
        top: 34px;
        transform: translateY(-50%);
        width: 26px;
        height: 15px;
        z-index: 9999999;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $main-color;
            transition: 0.9s all;
            margin-bottom: 3px;
            &:hover {
                cursor: pointer;
            }
        }
        &_active {
            // position: fixed;
            position: absolute;
            span {
                background-color: $gray2;
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(10px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(10px) rotate(45deg);
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .hamburger {
        top: 37px;
    }
}

@media (max-width: 460px) {
    .hamburger {
        top: 35px;
    }
}

@media (max-width: 435px) {
    .hamburger {
        top: 33px;
    }
}

@media (max-width: 410px) {
    .hamburger {
        top: 31px;
    }
}

@media (max-width: 395px) {
    .hamburger {
        top: 30px;
    }
}

@media (max-width: 376px) {
    .hamburger {
        top: 29px;
    }
}

// @media (max-width: 376px) {
// .menu {
//     &__block {
//         width: 100%;
//     }
// }
// .tabs-page {
//     &__tabs {
//         h5 {
//             font-size: 14px;
//         }
//     }
//     &__content_tourn {
//         padding-top: 0 !important;
//     }
// }
// }