nav {
    background-color: $main-color;
    // background-color: $second-color;
    // box-shadow: 0 0 11px 1px rgba(0,0,0,0.21);
    .row {
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        position: relative;
        // background-color: $main-color;
        // background-color: $second-color;
        padding: 15px 15px;
        &__block {
            display: flex;
            // flex-wrap: wrap;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
            a  {
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                // color: $main-color;               
                &:hover {
                    color: $third-color;
                    // color: $accent-color;
                    text-decoration: none;
                }
                &:not(:last-child):hover::after {
                    right: -16px;
                    transform: rotate(-45deg);
                    content: '';
                    height: 6px;
                    width: 2px;
                    background-color: $white;
                    position: absolute;
                    top: 9px;
                    transition-property: all;
                    transition-duration: .5s, .5s, .5s;
                    transition-delay: .5s, .5s, .5s;
                }
                &:not(:last-child):hover::before {
                    content: '';
                    right: -19px;
                    height: 6px;
                    width: 2px;
                    background-color: $white;
                    position: absolute;
                    top: 9px;
                    transition-property: all;
                    transition-duration: .5s, .5s, .5s;
                    transition-delay: .5s, .5s, .5s;
                    right: -13px;
                    transform: rotate(45deg);
                }
                // &:hover::after {          
                //     // background-color: #ff003d;
                //     background-color: $third-color;
                //     display: block;
                //     content: "";
                //     height: 5px;
                //     width: 100%;
                //     left: 50%;
                //     bottom: -19px;
                //     position: absolute;
                //     -webkit-transform: translateX(-50%);
                //     transform: translateX(-50%);
                // }
            }
            li {
                display: block;
                position: relative;
                float: left;                
                margin: 0 30px;
                // border: 1px solid red;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                ul {
                    position: absolute;
                    display: none;
                    width: 300px;
                    left: -15px;
	                // top: 43px;
                }
            }
            li:hover ul {
                display: block;
                position: absolute;
                z-index: 100;
                transition: all 0.5s;
                padding-left: 5px;
                background-color: $main-color;
                // font-size: 14px;
                font-weight: 500;
                padding-top: 12px;
                li {
                  
                    width: 100%;
                    white-space: nowrap;
                    margin: 10px 10px;
                    margin-right: 25px;
                }
            }             
        } 
    }


.menu > ul > li > a:before {
    right: -13px;
    transform: rotate(-45deg);
}

.menu > ul > li > a:after {
    right: -16px;
    transform: rotate(45deg);
}

.menu > ul > li > a:not(:last-child):before,
.menu > ul > li > a:not(:last-child):after {
    content: '';
    height: 6px;
    width: 2px;
    background-color: $white;
    position: absolute;
    top: 9px;
    transition-property: all;
    transition-duration: .5s, .5s, .5s;
    transition-delay: .5s, .5s, .5s;
    
}

// .activelink {
//     // background: #ecc653;
//     border-bottom: 5px solid #fe4817
//     }

}




.hamburger {
    display: none;
    &_active {
        display: none;
    }
}

form {
    position: relative;
    max-width: 300px;
    // margin: 0 auto;
   
}
input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    // border: 2px solid #7BA7AB;
    border: none;
    // border-radius: 5px;
    outline: none;
    background: #dbdde8;
    // background: $gray2;
    // background-color:  rgba(179, 196, 255, 0.6);
    // color: #9E9C9C;
    &:hover {
        background: $white;
    }
  
}
button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 35px;
    height: 35px;
    border: none;
    background: #dbdde8;
    // background: $gray2;
    // background-color:  rgba(179, 196, 255, 0.6);
    // border-radius: 0 5px 5px 0;
    cursor: pointer;
    img {
        height: 20px;
    }
}



