.overlay {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: none;
}
.modal-chess {  
    width: 450px;
    margin: 30px 0;  
    position: absolute;
    // top: 40px;
    // bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);    
    border: 2px solid #d0d0d0;
    // width: 380px;
    // min-height: 400px;
    // height: 100%;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;  
    &__close {
        position: absolute;
        font-size: 41px;
        font-weight: 500;
        line-height: 21px;
        color: #d0d0d0;
        top: -5px;
        right: -40px;     
        cursor: pointer;    
        &:hover {
            color: $light-color;
        } 
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 700;
        color: $black;
        text-align: center;
        margin-bottom: 15px;
    }
    &__descr {
        font-size: 16px;
        font-weight: 500;
        color: $black;
        text-align: center;
    }
    &_user {
        min-height: 120px;        
        width: 400px;
        padding: 15px 25px; 
    }
    input.error {
        border: 1px solid red!important;     
    }
    label.error {
        border: none;
        text-align: left;
        color: red;
        margin-bottom: 15px;
        
    }
}

// скрытие модальных окон
#registry, #user-entry, #feedback {
    display: none;
}
span.wpcf7-not-valid-tip {
    display: none;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid red;
}