.all {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid red;
    &__advts {
        width: 30%;
        color: $black;
    }
}
.news-all {
    // display: flex;
    width: 70%;
    border: 1px solid green;
    &__tabs {        
        width: 20%;
        display: flex;       
        // flex-direction: column;
        // justify-content: center;
        padding-left: 0;
        margin-bottom: 0; 
        font-size: 16px;
        line-height: 36px;
        background: #f4f4f8;       
    }    
    &__tab {
        width: 100%;
        padding: 15px 10px;
        margin-right: 5px;
        cursor: pointer;
        border-bottom: 1px solid #c9d5ec;
        transition: 0.5s all;
        text-transform: uppercase;
        &:last-child {
            border-bottom: none;
        }       
        &:hover {
            // box-shadow: 3px 3px 20px $main-color;
            background-color: #c9d5ec;           
        }  
        &_active {
            background-color: #c9d5ec;
            // background-color: $second-color;
            font-weight: 500;            
        }
    }   
    &__content {
        // background-color: $gray1;
        // padding: 15px 15px;
        padding-right: 15px;
        height: 100%;
        width: 100%;
        display: none;
        &_active {
            display: block;
        }
    }
    &__block {
        padding: 15px 0;
        border-bottom: 1px solid #c9d5ec; 
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
        } 
    }
    &__img {
        // border: 1px solid red;
        width: 100%;
        max-width: 350px;
        min-width: 350px;
        padding-right: 25px;
        max-height: 200px;
        object-fit: cover;
        float: left;
    }
    &__data {
        font-size: 14px;
        // letter-spacing: 1.5px;
        font-weight: 500;
        color: $gray;       
    }

    &__title {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 500;
        color: $main-color;
        margin: 9px 0;
        &:hover {
            color: $third-color;
        }
    }
    &__text {
        font-size: 14px;
        display: block;
        color: $black;
        height: 75px;
        overflow: hidden;  
        margin-bottom: 5px;  
        line-height: 1.5;  
    }
    &__read {
        a {
            color: $third-color;
            text-decoration: none;
        }
    }
    
}

