.project {
    background-color: $light-gray;

    &__block {
        @media (max-width: 575px) {            
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__scale {
        overflow: hidden;
    }

    &__link {
        &:hover {
            text-decoration: none;
        }
    }

    &__item {
        position: relative;
        padding-top: 100px;
        height: 220px;
        color: $black;
        transition: opacity 0.35s ease 0s;


        &:hover {
            transform: scale(1.1);
            /* Увеличиваем масштаб */
        }

        @media (max-width: 991px) {
            margin-bottom: 15px;
        }

        @media (max-width: 575px) {
            margin-bottom: 0 !important;
        }

        @media (max-width: 444px) {
            padding-top: 80px;
            height: 180px;
        }

        @media (max-width: 376px) {
            padding-top: 50px;
            height: 120px;
        }


    }

    &__title {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        // line-height: 31px;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: 444px) {
            font-size: 14px;
        }

        @media (max-width: 376px) {
            font-size: 12px;
        }
    }

    .project__img {
        @media (max-width: 575px) {
            padding: 5px !important;
            margin-bottom: 0 !important;
        }

    }
}

// .gradient {
// 	display: inline-block;
// 	position: relative;    
// 	line-height: 0;
// }
// .gradient:after {
// 	content: "";
// 	display: block;    
// 	width: 100%;
// 	height: 100%;    
// 	position: absolute;
// 	top: 0;      
// 	left: 0;   
// 	background: transparent;
// 	background-image: linear-gradient(to left, #11de93, #0e7ad6);
// 	opacity: 0.8;
// }