.rating {  
  
    &__document {
        // display: block;
        display: flex;
        align-items: center;
        padding: 25px 15px;       
        width: 50%;
        font-weight: 500;
        // color: $main-color;
        color: $black;       
        // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);   
        &:hover {
            // box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20); 
            text-decoration: none;
        }        
    }
    &__title {
        padding: 0 15px;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 25px;
        color: $main-color;
        text-align: center;
        width: 100%;
    }
    &__xls {
        width: 55px;
        padding-right: 25px;
        height: 55px;       
        float: left;
    }      
    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
        a {
            color: $black;
            &:hover {
                // color: $white;
                font-size: 14px;
            }
        }
        th {
            vertical-align: top; 
            text-align: center;
            line-height: 1.1;
            background-color: $second-color;
            // background-color: $main-color;
            color: $gray2;
            padding: 10px 5px;
            // text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            &:first-child {
                border-radius: 0px 0px 0px 5px;
            }
            &:last-child {
                border-radius: 0px 0px 5px 0px;
            }
        }  
        tr {           
            font-size: 14px;   
            margin: 10px 0;    
            // border-bottom: 0.5px solid $gray2;
            color: $black;
            // background-color: $light-color;
            // &:last-child {
            //     border-bottom: none;
            // }
            &:nth-child(odd) {
                background-color: #dfdfed;
            }
            &:hover {
                background-color: #868cad;
                // cursor: pointer;
                color: $white;     
                a {
                    color: $white;
                }     
            }
        }  
        td {
            // width: auto;
            padding: 5px 5px;   
        }       
    }
    &__number {
        width: 5%; 
        text-align: center;
    }
    &__id {
        width: 10%; 
        // font-weight: 500;
    }
    &__name {
        width: 25%; 
        // font-weight: 500;
    }
    &__year {
        width: 8%; 
        text-align: center;
    }
    &__city {
        width: 13%; 
    }
    &__item {
        width: 8%; 
        text-align: center;
    }
    &__change {
        width: 5%; 
        text-align: center;
    }    
    &__content {
        display: none;
        &_active {
            display: block;
        }
    }
}

.lowerthan100{
    font-weight: 700;
    font-size: 10px;
    color: red;   
}
.higherthan100 {
    color: green; 
    font-weight: 700;
    font-size: 10px;
}