.registration {
    // width: 450px;
    width: 100%;
    input,
    select {
        width: 100%;
    }
    .registration-form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        [class*=col-] {
            margin-bottom: 2px;
        }
        .flex {
            display: flex;
            flex-direction: row;
        }
        input {
            border: 1px solid #737373;
            border-radius: 0;
            height: 42px;
            padding: 10px;
            font: normal 400 1em/normal Roboto, sans-serif;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        label,
        .message {
            font-size: 14px;
            color: #767676;
            line-height: 1.1;
            @media (max-width: 991px) {
                font-size: 12px;
            }
        }
        textarea {
            width: 100%;
            height: 150px;
            margin-bottom: 35px;
            padding: 15px;
        }
        button {
            width: 50%;
            padding: 0;
            height: 2.625em;
            background-color: $main-color;
            color: $white;
            margin: 0 auto;
            margin-top: 35px;
        }
        .user_gender {
            display: flex;
            flex-direction: row;
            align-items: center;
            input {
                height: 15px;
                width: 15px;
                margin: 0 5px;
            }
            label {
                margin-bottom: 0;
                font: normal 400 1em/normal Roboto, sans-serif;
                color: $black;
            }
        }
        input[type=checkbox] {
            // border: 1px solid #737373;          
            // background: #fff;
            // color: #555;
            border-radius: 0;
            clear: none;
            cursor: pointer;
            display: inline-block;
            line-height: 0;
            height: 24px;
            margin: -.25rem .5rem 0 0;
            outline: 0;
            padding: 0 !important;
            text-align: center;
            vertical-align: middle;
            width: 24px;
            min-width: 24px;
            transition: .05s border-color ease-in-out;
        }
        .button__submit {
            position: relative;
        }
        input[type=date] {
            @media (max-width: 376px) {
                width: 100%;
            }
        }
        //выбор разряда
        .rank {
            input[type=text] {
                display: none;
            }
        }
        select {
            // width: 100%;
            height: 42px;
            padding: 10px;
            border: 1px solid #737373;
            border-radius: 0;
            font: normal 400 1em/normal Roboto, sans-serif;
        }
        .id-block {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .idfshr,
            .idfide {
                width: 45%;
            }
        }
    }
    div.wpcf7-mail-sent-ok {
        border: 2px solid #0069d2;
        text-align: center;
        width: 100%;
    }
    div.wpcf7-response-output {
        margin: 1em 0;
    }
    .selectize-input {
        border: 1px solid #737373;
    }
}

//красные бордер для формы регистрации
input[type="checkbox"].error+label {
    width: 100%;
    position: relative;
}

input[type="checkbox"].error+label:after {
    display: block;
    content: ' ';
    position: absolute;
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 0;
    border: 1px solid red;
    left: -32px;
    // transform: translateX(-50%);
    top: -4px;
    pointer-events: none;
}