.schools {
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;

        th {
            // vertical-align: top!important; 
            text-align: center;
            line-height: 1.1;
            padding-bottom: 10px;
            background-color: $second-color !important;
            ;
            // background-color: $main-color;
            color: $gray2;
            padding: 10px 5px;
            // text-transform: uppercase;
            font-weight: 500 !important;
            ;
            font-size: 16px;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }

            &:first-child {
                border-radius: 5px 0px 0px 0px;
            }

            &:nth-child(3) {
                @media (max-width: 376px) {
                    border-radius: 0px 5px 0px 0px;
                }
            }

            &:nth-child(4) {
                @media (max-width: 575px) {
                    border-radius: 0px 5px 0px 0px;
                }

                @media (max-width: 376px) {
                    display: none;
                }
            }

            &:last-child {
                border-radius: 0px 5px 0px 0px;

                // @media (max-width: 991px)  {
                //     width: 35%;
                // }
                // @media (max-width: 767px)  {
                //     width: 40%;
                // }
                @media (max-width: 575px) {
                    display: none;
                }
            }
        }

        tr {
            width: 100%;
            font-size: 14px;
            margin: 10px 0;
            // border-bottom: 0.5px solid $gray2;
            color: $main-color;

            // background-color: $light-color;
            // &:last-child {
            //     border-bottom: none;
            // }
            @media (max-width: 767px) {
                font-size: 12px;
            }

            @media (max-width: 575px) {
                font-size: 10px;
            }

            // @media (max-width: 376px)  {
            //     font-size: 8px; 
            // }
            &:nth-child(odd) {
                background-color: #dfdfed;
            }

            &:hover {
                background-color: #868cad;
                // cursor: pointer;
                color: #fff;

                td a {
                    color: #fff;
                    ;
                }
            }
        }

        td {
            padding: 7px 15px;

            @media (max-width: 991px) {
                padding: 7px 10px;
            }

            @media (max-width: 767px) {
                padding: 7px 5px;
            }

            @media (max-width: 575px) {
                padding: 7px 3px;
            }

            &:first-child {
                font-weight: 700;
                width: 15%;
                padding-left: 15px;

                // @media (max-width: 991px)  {
                //     width: 10%;
                // }
                // @media (max-width: 767px)  {
                //     width: 5%;
                // }
                // @media (max-width: 575px)  {
                //     width: 5%; 
                // }
                @media (max-width: 376px) {
                    width: auto;
                }
            }

            &:nth-child(2) {
                width: 25%;

                a {
                    text-decoration: underline;
                    color: $main-color;

                    &:hover {
                        color: #fff;
                    }
                }

                // @media (max-width: 767px)  {
                //     width: 20%;
                // }
                @media (max-width: 376px) {
                    width: auto;
                }
            }

            &:nth-child(3) {
                width: 20%;

                // @media (max-width: 991px)  {
                //     width: 15%;
                // }
                @media (max-width: 376px) {
                    width: auto;
                    padding-right: 15px;
                }
            }

            &:nth-child(4) {
                width: 15%;

                @media (max-width: 575px) {
                    padding-right: 15px;
                }

                @media (max-width: 376px) {
                    display: none;
                }
            }

            &:nth-child(5) {
                padding-right: 15px;
                width: 25%;

                // @media (max-width: 991px)  {
                //     width: 35%;
                // }
                // @media (max-width: 767px)  {
                //     width: 40%;
                // }
                @media (max-width: 575px) {
                    display: none;
                }
            }
        }

    }

    // &__number {
    //     text-align: center;
    //     // width: 4%;      
    //     padding: 0 15px;  
    //     // border: 1px solid red;       
    // }
    // &__name {
    //     width: 34%;
    //     text-align: left;
    //     padding: 7px 7px;
    // }
    // &__member {
    //     width: 13%;
    //     padding: 7px 7px;
    // }    
    // &__date {
    //     width: 9%;
    //     text-align: center;
    //     // padding: 7px 7px;
    // }
    // &__place {
    //     width: 10%;
    //     text-align: center;
    //     // padding: 7px 7px;
    // }
    // &__commission {
    //     width: 8%;
    //     text-align: center;
    //     // padding: 7px 7px;
    // }
    // &__responsible {
    //     width: 14%;
    //     text-align: center;
    //     // padding: 7px 7px;

    // }


}