
.structure {  
    display: flex;
    width: 100%;
    // background-color: $light-gray;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.18);
    // border: 1px solid red;
    h4 {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -.4px;
    }
    &__tabs {
        // height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding-left: 0;
        margin-bottom: 0; 
        font-size: 16px;        
        background: #f4f4f8;       
    }    

    &__tab {
        width: 100%;
        padding: 20px 15px;
        margin-right: 5px;
        cursor: pointer;
        border-bottom: 1px solid #c9d5ec;
        transition: 0.5s all;
        text-transform: uppercase;
        &:last-child {
            border-bottom: none;
        }
        span {
            font-size: 14px;
            // font-weight: 300;
            // color: $main-color;
            // color: #828e99;
            
        }
        &:hover {
            // box-shadow: 3px 3px 20px $main-color;
            // background-color: #c9d5ec;   
            background-color: #dbdde8;;        
        }  
        &_active {
            // background-color: #c9d5ec;
            background-color: #dbdde8;;
            font-weight: 500; 
            span {
                font-weight: 500; 
                color: $main-color;
            }           
        }
        img {
            margin-right: 20px;
        }
    }   
    &__content {
        background-color: $light-gray;
        padding: 15px 35px 25px 35px;
        // height: 100%;
        width: 75%;
        display: none;
        &_active {
            display: block;
        }
    }
    &__composition {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__member {
        display: flex;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        // color: $main-color;
        border-bottom: 1px solid #c9d5ec; 
        // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);   
        &:hover {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20); 
        }
        &:first-child {
            padding-top: 0;
        }      
        &:last-child {
            border-bottom: none;
        }
    }
    &__descr{
        display: flex;
        flex-direction: column;
    }
    &__branch {
        color: $second-color;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
    }
   
    &__post {
        font-size: 18px;
        padding-bottom: 5px;        
    }
    &__name {
        font-size: 20px;
        font-weight: 500;
    }
    &__img {
        width: 100%;
        max-width: 200px;
        min-width: 200px;
        padding-right: 25px;
        max-height: 170px;
        object-fit: cover;
        float: left;
    }

  
    &__email {
        margin-top: 15px;
        color: $gray;
    }
    &__phone {
        color: $gray;
    }



    // documents page
    &__document {
        // display: block;
        display: flex;
        align-items: center;
        padding: 20px 15px;       
        width: 100%;
        // color: $main-color;
        color: $black;
        border-bottom: 1px solid #c9d5ec; 
        // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);   
        &:hover {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20); 
            text-decoration: none;
        }
        &:first-child {
            padding-top: 0;
        }      
        &:last-child {
            border-bottom: none;
        }
    }
    &__doc {
        // width: 100%;
        width: 45px;
        padding-right: 20px;
        height: 45px;
        // object-fit: cover;
        float: left;
    }
    &__descr {
        display: flex;
        flex-direction: column;
    }
    &__data {
        margin-bottom: 15px;
        font-size: 16px;
        // letter-spacing: 1.5px;
        font-weight: 500;
        color: $gray;       
    }

}
