.sponsors {
    
    &__block {
        display: flex;
        flex-wrap: wrap;
        // width: 100%;        
        justify-content: space-around;
        align-items: center;       
        a {
            display: block;
            max-width: 170px;
            max-height: 170px;

            @media (max-width: 991px) {
                margin: 5px 10px;
            }
            img {
                width: 100%;                
                height: auto;                        
                object-fit: contain;
               
                @media (max-width: 575px) {
                    width: 90px;
                    max-height: 90px;
                }
               
            }
        }
        
        // img:not(:hover) {
        //     transition: 2s;
        //     // filter: saturate(0%);
        //     // filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
        //     // -webkit-filter: saturate(0%);
        //     // filter:  contrast(.5);
        //     }
        // img:hover {
        //     transition: 0.3s;
          
        // }
    }
}
