.submenu {
    justify-content: space-between;

    // width: 100%;
    // background: rgba(179, 196, 255, 0.3);
    @media (max-width: 991px) {
        flex-direction: column !important;
    }

    &__title {
        width: 30%;
        text-align: left;
        font-style: 46px;
        margin-bottom: 0;
        font-size: 28px;
        font-weight: 700;
        margin-left: 15px;

        &_user {
            width: 100%;
            font-size: 24px;
        }

        @media (max-width: 991px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            font-size: 18px;

        }

    }

    &__block {
        // margin-top: 15px;
        // background: rgba(179, 196, 255, 0.3);
        max-height: 80px;
        min-height: 40px;
        width: 68%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        // margin-right: 15px;
        // margin-bottom: 20px;      
        // margin: 5px 0;
        @media (max-width: 991px) {
            width: 100%;
            // justify-content: start;
            margin-top: 15px;
        }

        li {
            display: inline-block;
            padding: 0 20px;
            letter-spacing: .01em;
            position: relative;
            color: $main-color;
            font-size: 15px;
            color: $gray;
            text-transform: uppercase;
            font-weight: 700;

            @media (max-width: 575px) {
                font-size: 12px;
            }

            @media (max-width: 376px) {
                padding: 0 10px;
            }

            &:after {
                content: "";
                width: 1px;
                height: 22px;
                background: $gray;
                position: absolute;
                right: 0;
                top: 0;
            }

            &:first-child {
                padding-left: 15px;
            }

            &:last-child {
                padding-right: 15px;

                &:after {
                    display: none;
                }
            }
        }

        li a {
            color: $main-color;
            display: flex;

            &:hover {
                text-decoration: none;
                color: $third-color;

                svg #cart {
                    fill: $third-color;
                }

                span {
                    color: $third-color;
                }
            }

            svg {
                display: block;
                height: 17px;
                margin-right: 10px;
            }
        }
    }

    &__idblock {
        display: flex;
        justify-content: flex-start;
    }

    &__subtittle {
        padding: 15px 15px 0 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .current-menu-item a {
        color: $third-color !important;
    }

}

.activelink2 {
    // color: $third-color; 
    color: #0069d2 !important;

    // border-bottom: 2px solid $third-color;
    svg #cart {
        fill: #0069d2 !important;
    }
}