
.submenu {
    justify-content: space-between;
    // width: 100%;
    // background: rgba(179, 196, 255, 0.3);
    &__title {
        width: 20%;
        text-align: left;
        font-style: 46px;
        margin-bottom: 0;
        font-size: 28px;
        font-weight: 700;
        margin-left: 15px;
    }
    &__block{
        // margin-top: 15px;
        // background: rgba(179, 196, 255, 0.3);
        max-height: 80px;
        min-height: 40px;
        width: 78%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        // margin-right: 15px;
        // margin-bottom: 20px;      
        // margin: 5px 0;
        li {
            display: inline-block;
            padding: 0 20px;
            letter-spacing: .01em;
            position: relative;
            color: $main-color;
            font-size: 15px;
            color: $gray;
            text-transform: uppercase;
            font-weight: 700;
          
            &:after {
                content: "";
                width: 1px;
                height: 22px;
                background: $gray;
                position: absolute;
                right: 0;
                top: 0;                
            }            
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
                &:after {
                    display: none;
                }                
            }
        } 
        li a {
            color: $main-color;
            &:hover {
                text-decoration: none;    
                    
            }
        }
    }
    
}

.activelink2 {
    color: $third-color; 
    color: #0069d2!important;                       
    // border-bottom: 2px solid $third-color;
}





    
