.toplist {
    margin-top: 15px;
    height: 100%;
    &_men {
        margin-top: 0;
    }
    // border: solid 0.7px $border; 
    &__tabs {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__box > div {
        display: none;
        box-sizing: border-box;
    }
    &__box > .active {
        display: block;
    }
    &__tab {
        width: 33.333%;
        padding: 9px 0;
        margin-right: 5px;
        background-color: $third-color;
        cursor: pointer;
        // border: solid 0.7px gray; 
        border-radius: 5px 5px 0px 0px;
        transition: background-color 0.2s ease-in-out; 
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            // box-shadow: 3px 3px 20px $main-color;
            background-color: $second-color;
        }
        &_active {
            background-color: $second-color;
            color: #ffffff;
            border: none;
        }
        h5 {
            margin: 0 0;
            color: $white;
        }           
    }  
    &__content {
        // width: 100%;
        padding: 7px 7px 7px 15px;    
        display: none;
        &_men {
            padding: 0 0;
        }
        table {
            width: 100%;
        }
        &_active {
            display: block; 
            background-color: $second-color; 
            color: $white;              
        }
    }
    &__other {
        display: block;
        padding: 10px 15px;
        background-color: $second-color;
        color: $light-color;   
        font-size: 1rem;   
        &:hover {
            color: $accent-color;
        }   
    }
    th {
        vertical-align: top; 
        text-align: center;
        line-height: 1.1;
        padding-bottom: 10px;
        // background-color: $third-color;
    }
    .chessplayer {
        height: 28px;
        font-size: 1rem;
        border-bottom: 1px solid #fff;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: #868cad;
            // cursor: pointer;
            color: #fff;            
        }
    }
.number {
    text-align: left;
    width: 10%;
}
.player {
    width: 65%;
}
.rating {
    text-align: center;
    width: 25%;
}
}