.tourn-all  {
    // background-color: $light-gray;
    padding-left: 15px;  
    width: 100%;
    margin-right: 15px;
    &__tabs {  
        // width: 100%;
       display: flex; 
       padding-left: 0;
       font-size: 14px;
       border-bottom: 1px solid $border;  
       margin: 15px 0;          
    }    
    &__tab {        
        padding: 0 15px;         
        cursor: pointer;      
        // transition: 0.2s all;
        font-weight: 500;    
        // border: 1px solid red;    
        // border-bottom: 1px solid $border;      
        h5 {
            color: $gray;
        }
        &:hover {                      
            // border-bottom: 2px solid $third-color;   
            h5 {
                color: $third-color;       
            }                 
        }  
        &_active {                      
            border-bottom: 3px solid $third-color;
            h5 {
                color: $third-color;       
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }      
    }   

    
    &__content {             
        // height: 100%;
        width: 100%;
        display: none;       
        &_active {
            display: block;
            // display: flex;
        }
    }
    &__box {
        width: 100%;
        display: flex;
    }
    &__left {
        display: flex;
        flex-direction: column;
        width: calc(75% - 15px);
        margin-right: 15px;
    }   



    // for one tourn
    


    h2 {
        font-size: 30px;
        // text-align: left;
    }
    &__data {
        display: flex;
    }
    &__main-img{
        display: block;
        width: 180px;
        height: 180px;
        margin-right: 35px;
        object-fit: cover;
        // float: left;
    }  
    
    &__link {
        display: block;
    } 
    &__block {
        margin: 20px 0;
        width: 100%;
        min-height: 180px;        
        background-color: $white;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);         
        &:hover {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
            a {
                color: $third-color;
                text-decoration: none;
            }
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
        } 
    }    
    &__img {        
        width: 180px;
        height: 180px;        
        padding: 25px 25px 25px 25px;
        height: 180px;
        object-fit: cover;
        float: left;
    }
    &__descr {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
    }
    &__title {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 500;
        margin-bottom: 25px;   
        a {
            color: $main-color;
            &:hover {
                color: $third-color;
                text-decoration: none;
            }  
        }
    }
    &__case {
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: $gray;
        font-size: 14px;
        font-weight: 500;        
    }
    &__calendar {
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
    &__date {        
        margin-right: 25px;
        white-space: nowrap;        
    }
    &__place {        
        margin-right: 10px;
        height: 18px;
        width: 18px;
    }
    &__address {
        width: 65%;
    }
}




.tourn-all-side {   
    height: 100%;
    width: calc(25% - 15px);   
    margin-top: 20px;
    margin-left: 15px;   
    background-color: $light-gray;    
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20); 
    font-weight: 500;
    ul {
        margin-bottom: 0;        
        li a {
               
                display: block;   
                padding: 10px 15px;
                display: block;
                color: $second-color;
                text-decoration: none;           
                // &:first-child {
                //     padding-top: 15px;
                //     // color: $third-color;
                // }
                // &:last-child {
                //     padding-bottom: 15px;
                // }
                &:hover {
                    background-color: $gray2;
                    color: $third-color;                      
                }
            }
        .current-cat {
            a {
                color: $third-color;
            }
        }
    } 
    &__item a {
        padding-top: 15px!important;
    }
}
   




  

