.tourn {
    // background-color: $light-color;
    width: 100%;
    // border: solid 1px $border;
    // display: flex;
    // flex-direction: column;
    // margin-bottom: 10px;
    &__list {
        padding: 0 15px;
        height: 350px;
        overflow-y: scroll;
    }
    &__item {
        display: flex;
        align-items: center;
        border-top: 1px solid $border;
        font-size: 16px;
        padding: 10px 15px;
        &:hover {
            background-color: $gray;
            .tourn__day {
                color: $white;
                display: flex;
                flex-direction: column;    
            }
        }
        &:first-child {
            border-top: none;
        }
        &_active {
            a {
                color: $main-color;
                // font-size: 14px;
                font-weight: 700; 
            }           
        }
    }
    &__logo {
        display: block;      
        img {
            display: block;
            width: 45px;
            height: 45px;            
        }
    }
    &__title {
        display: flex;
        
    }
    &__day {
        width: 70px;
        margin: 0 5px;
        text-align: center;
        color: $main-color;  
        line-height: 1.18; 
        margin: 0 15px;
             
    }
    &__link {
        display: block;
        color: $black;
        font-weight: 500;
        &:hover {
            color: $black;
        }
    }
 
    
   
}