.woocommerce-product-gallery {
    opacity: 1 !important;
}

.woocommerce-breadcrumb {
    background-color: $white;
    width: 100%;
    font-size: 14px;
    // color: $main-color;
    color: #828e99;
    margin-bottom: 10px;
    padding-left: 15px;


    a {
        // color: $third-color;
        color: #828e99;
        text-decoration: underline;
        margin-right: 5px;
    }
}

.woocommerce-product-attributes-item {
    th {
        padding-right: 15px;
    }

}