.woocommerce-product-gallery {
    opacity: 1 !important;
}

.woocommerce-breadcrumb {
    background-color: $white;
    width: 100%;
    font-size: 14px;
    // color: $main-color;
    color: #828e99;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
    a {
        // color: $third-color;
        color: #828e99;
        text-decoration: underline;
        margin-right: 5px;
    }
}


.woocommerce-product-attributes-item {
    th {
        padding-right: 15px;
    }

}

.woocommerce-thankyou-order-received {
    font-size: 18px;
    color: $third-color;
    padding: 15px 0;
    font-weight: 500;
}




// .quantity input::-webkit-outer-spin-button,
// .quantity input::-webkit-inner-spin-button {
// display: none;
// margin: 0;
// }
// .quantity input.qty {
// appearance: textfield;
// -webkit-appearance: none;
// -moz-appearance: textfield;
// }

// .single-product div.product form.cart .quantity {
//     float: none;
//     margin: 0;
//     display: inline-block;
//     }


.woocommerce-Price-currencySymbol {
    margin-left: 5px;
}

.woocommerce-message {
    border-top-color: $third-color;
}

.woocommerce-message::before {
    color: $third-color;
}


.woocommerce-message {
    margin: 24px 15px;
    color: $third-color;
    font-weight: 500;
    
    @media (max-width: 575px) {
        font-size: 14px;
      }

    .button {
        // display: block;
        // width: auto;
        // margin-right: 20px;
        // position: absolute;
        float: right;

    }
}

.woocommerce-result-count {
    display: none;
}

.woocommerce-ordering select {
    border: none;
    border-bottom: 1px solid #737373;
    font-size: 1em;
    color: #414141;
    padding-right: 25px;
    // width: 100%;
    outline: 0;
    margin-bottom: 15px;
}