.menu-main-container {
    width: 100%;
}

.lwa-modal {
    @media (max-width: 575px) {
        width: 100%;
        padding: 20px;
    }

    [class*=col-md-6] {
        @media (max-width: 376px) {
            width: 100%;        
        }
    }
   
    
}