// iframe {
//     width: 100%;
// }
.map-box,
.map-contact {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    @media (max-width: 575px) {
        height: 50vh!important;
    }
}

.map-box iframe,
.map-contact iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}